@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/alchemy.gif");
}

.shine {
  color: white;
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-color: #5297b4;
  background-size: 200% 100%;
  background-position-x: 150%;
  animation: 2s loading ease infinite;
}
@keyframes loading {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}
