@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/alchemy.gif");
}

.shine {
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-color: #cafab6;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 2s loading ease-in-out infinite;
}
@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
